{% include 'buildify-global' %}{% layout none %}
<!DOCTYPE html>
<html>

<head>
	<!-- CSS -->

  {{ 'password.scss.css' | asset_url | stylesheet_tag }}
	<title>{{ 'coming_soon.general.title' | t }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  {{ content_for_header }}


  
{% include 'buildify-head' %}
  {% render 'shogun-head' %}
{% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
</head>

<body>

  <div class="background-overlay">

    {% capture BUILDIFY_CONTENT_FOR_LAYOUT %}{{ content_for_layout }}{% endcapture %}{% include 'buildify-variables', BUILDIFY_CONTENT_FOR_LAYOUT: BUILDIFY_CONTENT_FOR_LAYOUT %}

  </div>

{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

<script type="text/javascript">
function onload() {
	document.getElementById('password').focus();
	$( "#password-show" ).click(function() {
	  $( "#site-header" ).slideToggle( "slow");
	});
	$( ".password--close a" ).click(function() {
	  $( "#site-header" ).slideToggle( "slow");
	});
	$(function() {
	  if ( $('.storefront-password-form .errors').size() ) {
	    $( "#site-header" ).slideToggle( "slow");
	  }
	});
}
document.addEventListener('shopify:section:load', onload);
$(document).ready(onload);
</script>

{% include 'buildify-assets' %}</body>
</html>
