{% include 'buildify-global' %}<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% assign mlveda_code_flag = true %}
    
  {% if mlveda_code_flag == true %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script>
      	$m = $.noConflict(true);
	 window.pattern = /^(do|sv|ee|fi|fr|gd|gp|gg|hu|is|im|il|kz|ke|kg|la|mo|mk|mh|mq|ms|ma|nl|ne|ng|no|pw|py|pl|pt|kn|st|sc|sg|sk|za|sr|sj|th|to|tm|tc|uz|vu|vn|zm|af|al|as|ao|ai|an|ag|ar|as|bb|by|aq|bm|bq|bv|au|vg|bs|cv|bh|cf|bd|cn|be|co|ba|ci|bw|dk|bn|dm|bi|cd|cm|ec|ca|eg|td|gq|cx|er|cc|et|cr|eu|ga|gh|cy|gi|dj|gu|eu|gt|fk|gn|fo|gw|gf|hm|pf|hn|gm|iq|ge|ie|de|jm|gr|jp|in|ki|id|lr|je|mw|lv|my|ly|mu|li|yt|mv|mx|mc|mn|mz|nr|np|ni|nu|nf|pk|na|ph|oc|pn|om|qa|pg|re|pr|sh|ro|ru|rw|sm|bl|rs|pm|sx|vc|gs|sa|sd|sl|se|si|tj|tz|sb|tt|sa|tn|es|gb|lk|va|ch|zw|sy|tw|tl|tg|tr|um|vi|ug|us|uy|ve|af|ax|dz|ad|am|aw|at|az|bz|bj|bt|bo|br|io|bg|bf|kh|ky|cl|km|cg|ck|hr|cu|cw|cz|fj|tf|gl|gy|ht|hk|ir|it|jo|kw|lb|ls|lt|lu|mg|ml|mt|mr|fm|md|me|mm|na|nc|nz|kp|mp|ps|pa|pe|lc|mf|ws|sn|so|kr|ss|sz|tk|tv|ua|ae|wf|eh|ye|intl)$/;
      </script>

  {% endif %}
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if template contains 'product' %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    {% else %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endif %}
    {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
    {{ 'https://conditional-redirect.spicegems.com/js/scripttags/hedgrenstore/static/country-redirect.js?shop=hedgrenstore' | script_tag }}
    <!-- Title and description ================================================== -->
    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!-- Helpers ================================================== -->
    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <!-- CSS ================================================== -->
    
    {{ 'plugins.css' | asset_url | stylesheet_tag }}
    {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
    <script type='text/javascript'>
      //<![CDATA[ 
      function loadCSS(e, t, n) { "use strict"; var i = window.document.createElement("link"); var o = t || window.document.getElementsByTagName("script")[0]; i.rel = "stylesheet"; i.href = e; i.media = "only x"; o.parentNode.insertBefore(i, o); setTimeout(function () { i.media = n || "all" }) }loadCSS("{{ 'plugins.css' | asset_url }}");
      //]]> 
    </script>

    {% include 'font-links' %}

    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}

    {{ "jquery-3.6.0.min.js" | asset_url | script_tag }}
    <script src="{{ "modernizr.min.js" | asset_url }}"></script>

    {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
    {% endcomment %}
    {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}
    {% include 'hedgren-mega' %}

    {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
    {{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}
    {{ "owl.carousel.min.js" | asset_url | script_tag }}
{% include 'buildify-head' %}  

    {{ shop.metafields.loox["global_html_head"] }}
    <meta name="google-site-verification" content="IDztGAlVFm4jSzXcxBCj137mC65bbg13rzJVcp9dZrI" />
  {% include "loyaltylion" %}
    <!-- Google Search Console -->
    <meta name="google-site-verification" content="EiTifLPnEQtgI8OsmPS7-32R20reChtCRZ63Id8BmyE" />
    <!-- Hotjar Tracking Code for www.hedgren.com -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1256865,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    {% if mlveda_code_flag == true %}
  	{% if template != 'cart' %}
		<script>
		  $m("<style type='text/css'>.selector-wrapper,span.money{ display: none; }</style>").appendTo("head");
          
          {% if template contains 'product' %}
            $m("<style type='text/css'>button[name='add']{visibility : hidden;}</style>").appendTo("head");
          {% endif %}
          
		</script>
	{% endif %}
  {% endif %}
    <script>
      window.mlvedaShopCurrency = "{{ shop.currency }}";
      window.shopCurrency = "{{ shop.currency }}";
      window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
      window.ml_money_format = "{{ shop.money_format }}";
    </script>
    {% render 'shogun-head' %}
  {% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
    <meta name="facebook-domain-verification" content="95prg0opv4jd3pbvriz5viuahrfq8d" />
</head>

  {% comment %}
  Add the page template as a class for easy page or template specific styling.
  {% endcomment %}
  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% unless settings.animations_enabled %} animations-disabled{% endunless %}{% if settings.color_body_bg == settings.header-bg-color %} white--match{% endif %}" >
    {% comment %}
    Cart Drawer might be also used by 'Quick Shop' and 'LogIn'
    {% endcomment %}
    <div id="CartDrawer" class="drawer drawer--right">
      <div class="drawer__header sitewide--title-wrapper">
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
          </button>
        </div>
        <div class="drawer__title h2 page--title " id="CartTitle">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__title h2 page--title hide" id="ShopNowTitle">{{ 'products.product.quick_shop' | t }}</div>
        <div class="drawer__title h2 page--title hide" id="LogInTitle">{{ 'customer.login.title' | t }}</div>
        <div class="drawer__title h2 page--title hide" id="SearchTitle">{{ 'general.search.title' | t }}</div>
      </div>
      <div id="CartContainer"></div>
      <div id="ShopNowContainer" class="hide"></div>
      <div id="SearchContainer" class="hide">
        <div class="wrapper search-drawer">
          <div class="input-group">
            <input type="search" name="q" id="search-input" placeholder="Search our store" class="input-group-field" aria-label="Search our store" autocomplete="off" />
            <span class="input-group-btn">
              <button type="submit" class="btn icon-fallback-text">
                <i class="fa fa-search"></i>
                <span class="fallback-text">Search</span>
              </button>
            </span>
          </div>
          {% include 'live-search-result' %}
          <script type="text/javascript">
            var SearchTranslations = {
              no_results_html: {{ 'general.search.no_results_html' | t | json }},
              results_for_html: {{ 'general.search.results_for_html' | t | json }},
              products: {{ 'general.search.products' | t | json }},
              pages: {{ 'general.search.pages' | t | json }},
              articles: {{ 'general.search.articles' | t | json }}
            };
          </script>
          <div id="search-results" class="grid-uniform">
            <!-- here will be the search results -->
          </div>
          <a id="search-show-more" href="#" class="btn hide">{{ 'collections.general.see_more' | t }}</a>
        </div>
      </div>
      <div id="LogInContainer" class="hide"></div>
    </div>
    <div id="DrawerOverlay"></div>

    <div id="PageContainer">

      {% section 'announcement-bar' %}

      {% section 'header' %}



      <div {% if template == 'index' %}class="flow-homepage"{% elsif template == 'collection' %}class="flow-homepage"{% else %}class="wrapper main-content"{% endif %}>

        {% capture BUILDIFY_CONTENT_FOR_LAYOUT %}{% if mlveda_code_flag == false %}
          	{{ content_for_layout }}	
          {% endif %}

          {% if mlveda_code_flag == true %}
          <div class="mlvedaform">
            {{ content_for_layout }}
            {% include 'mlveda-multipricing-options' %}
          </div>
          	{% include 'mlveda-multipricing-selectBox' %}

          	{% include 'mlveda-multipricing-selectors' %}
          {% endif %}{% endcapture %}
        {% include 'buildify-variables', BUILDIFY_CONTENT_FOR_LAYOUT: BUILDIFY_CONTENT_FOR_LAYOUT %}

      </div>

      {% section 'footer' %}

    </div>

    <script type="text/javascript">
      window.lazySizesConfig = window.lazySizesConfig || {};
      window.lazySizesConfig.rias = window.lazySizesConfig.rias || {};

      // configure available widths to replace with the {width} placeholder
      window.lazySizesConfig.rias.widths = [150, 300, 600, 900, 1200, 1500, 1800, 2100];
    </script>

    {{ 'fastclick.min.js' | asset_url | script_tag }}
    {{ 'plugins.js' | asset_url | script_tag }}
    {{ 'timber.js' | asset_url | script_tag }}

    {% if template == 'product' %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {% endif %}

    {{ 'custom.js' | asset_url | script_tag }}

    {% include 'popup' %}

    {% if settings.show_multiple_currencies %}
    {% include 'currencies' %}
    {% else %}
    <script type="text/javascript">
      window.default_currency_format = {{ shop.money_format | json }};
    </script>
    {% endif %}

    {% comment %}
    Template-specific js
    {% endcomment %}
    <script>
      {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
      {% endif %}
    </script>
    {{ 'handlebars.min.js' | asset_url | script_tag }}

    {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
    - http://shopify.com/timber#ajax-cart
    {% endcomment %}
    {% if settings.ajax_cart_method == "drawer" %}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      function init() {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          moneyFormat: {{ shop.money_format | json }},
        });
      }
      jQuery(init);
      document.addEventListener('shopify:section:load', init);

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
    {% endif %}



{% include 'easypopup' %}
{{ 'https://lookbook.teathemes.net/public/shop-libs/nitro-lookbook.js' | script_tag }}



    {% include 'swymSnippet' %}


{% include 'buildify-assets' %}
	{{ shop.metafields.loox["global_html_body"] }}
 {% include 'smile-initializer' %}

{% if mlveda_code_flag == true %}
  	{% if template != 'cart' %}
		{% include 'mlveda-multipricing-updateprice' %}
  	{% else %}
        <script>mlvedaFlagCalled = true;</script>
  	{% endif %}
  {% else %}
		<script>mlvedaFlagCalled = true;</script>
  {% endif %}

{% include 'mlveda-currencies-switcher' %}{% include 'mlveda-currencies' %}{% include 'mlveda-currencies-style' %}{% include 'mlveda-flag' %}

  </body>
</html>
