<style>
  .image-text-gallery-wrapper h3.image-bar--title {
    color: #fff;    
    margin-bottom: 0;
    line-height: 0.9;
    text-align: left;
    max-width: 264px;
    margin: 0 auto;
  }
  .image-text-gallery-wrapper .image-bar.grid {
    display: flex;
  }
  .card-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
    box-sizing: border-box;
    justify-content: flex-end;
  }
  .image-text-gallery-wrapper .image-bar--description {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 300;
  }
  .image-text-gallery-wrapper a {
    background-color: #fff;
    max-width: 264px;
    text-align: center;
    padding: 5px;
    width: 100%;
    display: table;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 22px;
    margin-top: 32px;
}
  @media(max-width: 767px) {
    .image-text-gallery-wrapper .image-bar.grid {
      flex-wrap: wrap;
    }
    .image-text-gallery-wrapper h3.image-bar--title {
      font-size: 10vw !important;
      text-align: center;
    }
    .image-text-gallery-wrapper .image-bar--description {
      font-size: 4vw;
    }
  }
</style>
{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

<div class="wrapper show-on-scroll">

<div class="image-bar grid">
{% case section.blocks.size %}
  {% when 1 %}
    {%- assign column_size = '' -%}
  {% when 2 %}
    {%- assign column_size = 'large--one-half' -%}
  {% when 3 %}
    {%- assign column_size = 'large--one-third' -%}
  {% else %}
    {%- assign column_size = 'large--one-quarter' -%}
{% endcase %}

{% for block in section.blocks %}
  {%- assign img_url = '' -%}
  <div class="grid__item {{ column_size }}" {{ block.shopify_attributes }}>
    <div class="card-wrapper" style="justify-content: {{block.settings.vertical_align}};{% if block.settings.bg_color != blank %}background-color: {{ block.settings.bg_color }};{% else %}background-color: #000;{% endif %}">
      {% if block.settings.title != blank %}
      <h3 class="image-bar--title glitch-font" style="font-size: {{block.settings.font_size | divided_by: 10}}vw !important;">{{ block.settings.title }}</h3>
      {% endif %}

      {% if block.settings.description != blank %}
      <div class="image-bar--description">{{ block.settings.description }}</div>
      {% endif %}


      {% if block.settings.link != blank %}
      <a href="{{ block.settings.link }}" style="{% if block.settings.bg_color != blank %}color: {{ block.settings.bg_color }};{% else %}color: #000;{% endif %}">{{ block.settings.btn_text }}</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}

{% if section.blocks.size == 0 %}
<div class="placeholder-noblocks">
  {{ 'homepage.onboarding.no_content' | t }}
</div>

{% endif %}
</div>

</div>

</div>

{% schema %}
{
  "name": "Gallery with text",
  "class": "image-text-gallery-wrapper",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "colors",
      "label": "Color scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "Minimal"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "accent",
          "label": "Feature"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "color",
          "id": "bg_color",
          "label": "Card background color"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Optional"
        },
        {
        "type": "range",
        "id": "font_size",
        "min": 10,
        "max": 120,
        "step": 2,
        "unit": "vw",
        "label": "Font size",
        "default": 24
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "info": "Optional"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "info": "Optional"
        },
        {
          "type": "select",
          "id": "vertical_align",
          "label": "Vertical Align",
          "default": "flex-end",
          "options": [
            {
              "value": "flex-end",
              "label": "End"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-start",
              "label": "Start"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery with text",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
