<div class="homepage-sections-wrapper homepage-sections-wrapper--{{ section.settings.colors }}">

    <div class="grid grid--center">

    <div class="homepage-hero-content--video {% case section.settings.width_classes %}{% when 50 %}grid__item large--one-half{% when 75 %}grid__item large--three-quarters{% when 100 %}grid__item large--one-whole{% endcase %}">

        <div class="homepage-hero-content-overlay-wrapper homepage-video-content-overlay-wrapper-{{ section.id }}">

            <div class="homepage-hero-content-video-image-block js__hide-on-play">

            </div>

            <div class="homepage-hero-content-video-text-block js__hide-on-play">
                {% if section.settings.title != blank %}
                    <h2>{{ section.settings.title | escape }}</h2>
                {% endif %}

                {% if section.settings.richtext != '' %}
                    {{ section.settings.richtext }}
                {% endif %}

                <div class="homepage-video-play-button">
                        <div class="homepage-video-play-button-inner">
                            <!-- button -->
                        </div>
                </div>

            </div>

            {% if section.settings.url.type == 'youtube' %}
                <div class="embed-container">
                    <div class="homepage-hero-youtube-video" id="homepage-hero-youtube-video-{{ section.id }}"
                         data-homepage-hero-video-link="{{ section.settings.url.id }}"
                         data-homepage-hero-video-autoplay="{% if section.settings.autoplay %}true{% else %}false{% endif %}"
                         data-homepage-hero-video-loop="{% if section.settings.loop %}true{% else %}false{% endif %}"
                         data-homepage-hero-video-mute="{% if section.settings.mute %}true{% else %}false{% endif %}">
                    </div>
                </div>
            {% endif %}

            {% if section.settings.url.type == 'vimeo' %}
               <a href="{{ settings.hed-videolink }}"> <div class="embed-container" style="z-index:-10;">
                    <div class="homepage-hero-vimeo-video" id="homepage-hero-vimeo-video-{{ section.id }}"
                         data-vimeo-id="{{ section.settings.url.id }}"
                         data-vimeo-autoplay="{% if section.settings.autoplay %}true{% else %}false{% endif %}"
                         data-vimeo-loop="{% if section.settings.loop %}true{% else %}false{% endif %}"
                         data-vimeo-width="746"
                         data-homepage-hero-video-mute="{% if section.settings.mute %}true{% else %}false{% endif %}">
                    </div>
                </div>
          </a>
            {% endif %}

            <style>

                .homepage-video-content-overlay-wrapper-{{ section.id }}::before {
                    opacity: 0.{{ section.settings.video_overlay_opacity }} !important;
                }

                {% if section.settings.image %}
                    {% capture selector %}.homepage-video-content-overlay-wrapper-{{ section.id }} .homepage-hero-content-video-image-block{% endcapture %}
                    {% include 'responsive-background-image' with section.settings.image, selector: selector %}
                {% endif %}

            </style>

        </div>

    </div>

</div>

</div>

{% schema %}
{
"name":"Video",
"class":"homepage-section--video-wrapper show-on-scroll",
    "settings":[
        {
          "type":"select",
          "id":"colors",
          "label":"Color scheme",
          "default":"white",
          "options":[
              {
              "value":"white",
              "label":"Minimal"
              },
              {
              "value":"light",
              "label":"Light"
              },
              {
              "value":"accent",
              "label":"Feature"
              },
              {
              "value":"dark",
              "label":"Dark"
              }
          ]
        },
        {
          "type":"text",
          "id":"title",
          "label":"Heading"
        },
        {
          "type":"richtext",
          "id":"richtext",
          "label":"Description",
          "info":"Optional"
        },
        {
          "type": "range",
          "id":"width_classes",
          "min": 50,
          "max": 100,
          "step": 25,
          "unit": "%",
          "label":"Width",
          "default": 75
        },
        {
            "id":"url",
            "type":"video_url",
            "label":"Video URL",
            "accept":[
            "youtube",
            "vimeo"
            ],
            "default":"https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
        },
        {
            "type":"checkbox",
            "id":"autoplay",
            "label":"Autoplay",
            "default":false
        },
        {
            "type":"checkbox",
            "id":"loop",
            "label":"Loop",
            "default":true
        },
        {
            "type":"checkbox",
            "id":"mute",
            "label":"Mute",
            "default":false
        },
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        },
        {
          "type": "range",
          "id": "video_overlay_opacity",
          "min": 0,
          "max": 95,
          "step": 5,
          "unit": "%",
          "label": "Overlay opacity",
          "default": 50
        }
    ],
    "presets":[
        {
        "name":"Video",
        "category":"Video"
        }
    ]
}
{% endschema %}
